* {
   padding: 0;
   margin: 0;
}

body {
   display: grid;
   grid-template-columns: 1fr;
   min-height: 100vh;
   grid-template-rows: 50px minmax(calc(100vh - 80px), auto) 30px;
}

header {
   background-color: gray;
   width: 100vw;
}

header nav {
   width: 100%;
}

main {
   background-color: silver;
}

p {
   text-indent: 1rem;
   text-align: justify;
}

footer {
   background-color: rgb(39, 39, 39);
   color: white;
}

header, footer {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
}