header {
  padding: 0 10px;
  justify-content: space-between;
}

a {
  margin: 0 10px;
  text-decoration: none;
  padding: 5px 15px;
  background-color: blue;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
}

a:hover {
  color: black;
  background-color: white;
  border: 2px solid blue;
}

main {
  background-color: rgb(43, 43, 43);
  color: white;
  padding: 0 10px;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}